<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mainaccount.inspire">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_string"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationSettingsActivity"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true">
        </receiver>

        <activity android:name=".NotificationDetails" />

        <activity android:name=".model.RegisterActivity" />
        <activity android:name=".model.ProfileActivity" />
        <activity android:name=".model.SigninActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".model.FavoritesActivity" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>